<br/><br/>

  <div class="col-md-6 col-md-offset-2">
    <h3>AtoZ Solutions, </h3>
    <br/>
    
    <ul class="text-success" style="font-weight: bold; text-align: justify;">
      <h5 >As the name implies provides complete turnkey IT solutions to its customers.With successful presence in the Kingdom we have
        gained respect and recognition from all our clients,and our reputation in the market remains unprecedented.We have developed a distinctive
      capabolity to integrate IT Solutions from all three domains,hardware,software and networking to bring forth high-end cost effective and reliable solutions
    for our customers.We offer a wide range of business critical solutions which include,but are not limited to,infrastructure software,data storage security solutions.
  We also provide solutions which will enhance the business performance of our customers like Enterprise Resource Planning application,
software development and network optimization. </h5>
         </ul>
    
  </div>
  <a style="text-align:center; margin-top: 20px;" class="text-right" [routerLink]="['/login']"><h3>Login..</h3></a>

